# python runtime files
__pycache__/

# virtual environment
.venv/
.pytest_cache/
env/

# env
**.env

# generated solver scripts from run_solver
data/workspace/solver_*.py

# generated solver scripts
data/workspace/solver_*.py